$snackbar-wrapper-margin: 0px !default;
$tabs-item-min-width: 0px !default;
$tabs-item-padding: 5px !default;
// $snackbar-wrapper-max-width: 100vw !default;
// $snackbar-wrapper-min-width: 400px !default;

